.topnav {
    background-color: #29487a;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: +1;
    border-style: solid;
    border-color:  #29487a;
    border-bottom-width: 1px;
    border-bottom-color:  #fff
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #29487a;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.whiteBackground{
  background-color: #f2f2f2;
  width: 100%
  margin: 5px;
}

ul {
  background-color: blue
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li {
  color: white;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
}
form {
  padding-left: 10%;
  padding-right: 10%;
}

.headerIndex {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../images/ring.jpg')
}
.cursive {
  padding: 15%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  color: white;
  font-size: 6vw;
  margin: 0 !important;
}
.address {
  padding-left: 5%;
  color: white;
}
.hotel {
  padding-left: 5%;
  color: #29487a;
}
.whiteHeader {
  padding: 2%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  color: white;
  font-size: 270%;
}
.blueHeader {
  padding: 1%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  color: #29487a;
  font-size: 270%;
}
.blueDiv{
  background-color: #29487a;
  float: right;
  position: absolute;
}

.blueDivNoFloat{
  padding: 10px;
  background-color: #29487a;
}
.i {
  float: left;
}
.whiteDivFloat{
  clear: both
}


.weddingPartyImage {
  width: 30%;
  /*padding-left: 2%;*/
  border-radius: 50%;
  float: left;
  padding-right: 5%;
  padding-left: 5%;
}
.bridesmaidFont {
  margin-left: 1%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: left;
  color: white;
  font-size: 200%;
}
.image_map_holder{
  display: flex;
  width: 70%;
}
.image_holder{
  display: flex;
  width: 40%;
}
.addressDiv {
  width: 30%
}
.hotelDiv {
  width: 45%;
  padding-left: 5%;
}
.title {
  text-align: center;
  color: white;

}
.title2 {
  color: #29487a;
}
.map {
  flex-wrap: wrap;
  margin-left: 10%;
  display: flex
}
.hotel_flex {
  flex-wrap: wrap;
  display: flex
}
#indexBody{
  background-color: #f2f2f2;

}
#rsvpButton{
  margin-left: 1%;
}

#link {
  color: #adccff;
}

#photos {
  padding-top: 52px;
}
#story {
  padding-top: 25px;
  padding: 10px;
  margin-left: 3px;
}

#links {
  padding-left: 30px;
  padding-bottom: 10px;
}

#bridalParty{
  padding-top: 55px;
}

#weddingDetails {
  padding-top: 55px;
}
#storyFont {
  font-size: 50%;
  color: #29487a;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2px;
  margin: 3px;
}
#parkingFont {
  font-size: 130%;
  color: #29487a;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2px;
  margin: 3px;
}
#bridesmaidText{
  font-size: 120%;
  color: white;
  padding: 2%;
  float: left;
  /*position: relative;*/
}
#headerRSVP {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 2%;
}
#confirm {
  color: white;
}
#submitbutton{
  background-color: white;
  color: #29487a;
}

#nameInput {
  width: 30%
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (max-width: 840px) {
  .map {
    flex-flow:column wrap;
  }
  .image_map_holder{
    flex-flow:column wrap;
  }
  .addressDiv {
    width: 100% !important;
  }
  .address {
    width: 100% !important;
  }
  #storyFont {
    font-size: 60% !important;
  }
  #storyFont {
    font-size: 140% !important;
  }
  #bridesmaidText {
    font-size: 250%;
  }
  .blueHeader{
    font-size: 370%
  }
  .whiteHeader{
    font-size: 370%;
  }

}
