@media (max-width: 840px) {
  .map {
    flex-flow:column wrap;
  }
  .image_map_holder{
    flex-flow:column wrap;
  }
  .addressDiv {
    width: 100% !important;
  }
  .address {
    width: 100% !important;
  }
  #storyFont {
    font-size: 85% !important;
  }
  #bridesmaidText {
    font-size: 250%;
  }
  .blueHeader{
    font-size: 370%
  }
  .whiteHeader{
    font-size: 370%;
  }
  .image_map_holder{
    visibility:hidden
  }

}

ul {
  background-color: blue
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li {
  color: white;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
}
.headerlink {
}
#indexBody{
  background-color: #f2f2f2;

}
#rsvpButton{
  margin-left: 1%;
}

#link {
  color: #adccff;
}
.headerIndex {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../images/ring.jpg')
}
.cursive {
  padding: 15%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  color: white;
  font-size: 6vw;
}
.address {
  padding-left: 5%;
  color: white;
}
#photos {
  padding-top: 52px;
}
#story {
  padding-top: 25px;
  padding: 10px;
  margin-left: 3px;
}

#links {
  padding-left: 30px;
  padding-bottom: 10px;
}
.whiteHeader {
  padding: 2%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  color: white;
  font-size: 270%;
}
.blueHeader {
  padding: 1%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  color: #29487a;
  font-size: 270%;
}
.blueDiv{
  background-color: #29487a;
  float: right;
  position: absolute;
}

.blueDivNoFloat{
  padding: 10px;
  background-color: #29487a;
}
.i {
  float: left;
}
.whiteDivFloat{
  clear: both
}
#bridalParty{
  padding-top: 55px;
}
.weddingPartyImage {
  width: 30%;
  /*padding-left: 2%;*/
  border-radius: 50%;
  float: left;
  padding-right: 5%;
  padding-left: 5%;
}
#weddingDetails {
  padding-top: 55px;
}
#storyFont {
  font-size: 50%;
  color: #29487a;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2px;
  margin: 3px;
}
.bridesmaidFont {
  margin-left: 1%;
  font-family: 'Cedarville Cursive', cursive;
  text-align: left;
  color: white;
  font-size: 200%;
}

#bridesmaidText{
  font-size: 120%;
  color: white;
  padding: 2%;
  float: left;
  /*position: relative;*/
}
#headerRSVP {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 2%;
}
.title {
  text-align: center;
  color: white;

}
.map {
  flex-wrap: wrap;
  margin-left: 10%;
  display: flex
}
#confirm {
  color: white;
}
#submitbutton{
  background-color: white;
  color: #29487a;
}
form {
  padding-left: 10%;
  padding-right: 10%;
}
#nameInput {
  width: 30%
}
.image_map_holder{
  display: flex;
  width: 70%;
}
.addressDiv {
  width: 30%
}
header {
    background-color: #29487a;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    height: 35px;
    padding-top: 15px;
    padding-bottom: 35px;
    min-width: 675px;
    border:1px solid #29487a;
    border-width:1px 0;
    border-bottom: 1px solid #dbdddf;
    box-shadow: 0 0 0.7em rgba(0,5,10,0.15)
}
header a {
  color: #fff;
}
