<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <link href="index.css" rel="stylesheet">
    </script>
    <script>
      var myApp = angular.module('wedding', []);
      myApp.controller('admin', function($scope, $http) {
        $scope.rsvpList =[];
        $scope.totalAttending = 0;
        $scope.getRSVP = function() {
          $http({
              method: 'GET',
              url: '/getRSVP'
            }).then(function successCallback(res) {
              for(var i = 0; i < res.data.length; i++) {
                var rsvp = res.data[i];
                $scope.rsvpList.push(rsvp);

                if(rsvp.attending =="Attending"){
                  $scope.totalAttending += rsvp.count;
                }
              }
              }, function errorCallback(response) {
                console.log("error " + response);
              });
          }
      });
    </script>
  </head>
  <body ng-app="wedding" >
    <h1>Guests that have RSVP'd</h1>
    <div ng-controller="admin" ng-init="getRSVP()">
      <div ng-repeat="rsvp in rsvpList">
        {{rsvp.attending}} {{rsvp.count}}
        <div ng-repeat="n in rsvp.name">{{n}}</h1>
      </div>
      <hr>
    </div>
    <h2>Total: {{totalAttending}}</h2>
  </body>
</html>
